{% extends "layout.html" %}
{% load static %}
{% block body %}

<div class="container">
    <div class="spacer"></div>
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">Shorten url</h5>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="url" class="form-control" id="url" placeholder="https://example.com" required
                        name="url" size="50">
                </div>
                <button type="submit" class="btn btn-primary" style="float: right;">Submit</button>
            </form>
        </div>
    </div>
    {% if urls|length > 0 %}
    <div class="spacer"></div>
    <div class="card" style="width: 36rem; padding: 20px;">
        <table class="table" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Url</th>
                    <th scope="col">Shorten</th>
                    <th scope="col">Visits</th>
                </tr>
            </thead>
            <tbody>
                {% for item in urls %}
                <tr >
                    <th scope="row" onclick="copyClipboard('{{host}}{{item.shorten}}')" style="cursor: pointer;">
                        {{item.url|slice:"0:35"}}
                        {% if item.url|length > 35 %}
                        ...
                        {% endif %}
                    </th>
                    <td onclick="copyClipboard('{{host}}{{item.shorten}}')" style="cursor: pointer;">/{{item.shorten}}</td>
                    <th>
                        {% if request.user.is_authenticated %}
                        {{item.visits}}
                        {% else %}
                        <a href="/login">Sign in</a>
                        {% endif %}
                    </th>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <div class="spacer"></div>
    <div class="card" style="width: 36rem;">
        <div class="card-body">
            <h5 class="card-title">Access all features</h5>
            <p class="card-text">Login or register to know how many people clicked your shortened urls and more!</p>
            <a href="/login" style="text-decoration: none;">
                <button type="button" class="btn btn-outline-primary" style="margin: 0 auto; display: block;">Sign
                    in</button>
            </a>
        </div>
    </div>
</div>

<script>
    function copyClipboard(text) {
        /* Copy the text inside the text field */
        navigator.clipboard.writeText(text);

        /* Alert the copied text */
        alert("Url copied to clipboard");
    }
</script>

{% endblock %}