{% extends "signin_layout.html" %}
{% load static %}
{% block body %}
<main class="form-signin">
  <form method="POST">
    {% csrf_token %}
    <img class="mb-4" src=" {% static 'img/favicon.png' %}" alt="" width="57" height="57">
    <h1 class="h3 mb-3 fw-normal">Please register</h1>

    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" required placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="floatingPassword" required minlength="6"
        placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="confirmation" id="floatingPasswordc" required minlength="6"
        placeholder="Password confirmation">
      <label for="floatingPasswordc">Password confirmation</label>
    </div>

    <p style="color: red;">{{message}}</p>

    <div class="checkbox mb-3">
      <label>
        <a href="/login" style="text-decoration: none;">Already have an account? Login</a>
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
    <p class="mt-5 mb-3 text-muted">
      <a href="https://www.linkedin.com/in/miguelduartepereira/" target="_blank" style="text-decoration: none;">
        <span class="text-muted">© Miguel Pereira</span>
      </a>
    </p>
  </form>
</main>
{% endblock %}